<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="xMarksThePub.xMarksThePub" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27" />
	<uses-feature android:glEsVersion="0x00020000" android:required="true" />
	<uses-library android:name="org.apache.http.legacy" android:required="false" />
	<uses-permission android:name="xMarksThePub.xMarksThePub.permission.MAPS_RECEIVE" />
	<permission android:name="xMarksThePub.xMarksThePub.permission.MAPS_RECEIVE" android:protectionLevel="signature" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<application android:allowBackup="true" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme" android:icon="@drawable/icon">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyCI6y2cUkZFZ35YUC03a_0fDPl-ntc2Ros" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
</manifest>